openapi: 3.2.0
info:
  title: ServGhost Agent Quote API
  version: 2.0.0
  description: Public REST API for AI agents to discover, price, top up balance and deploy offshore VPS, dedicated, Windows RDP and GPU AI servers on servghost.com, plus anonymous domain name registration (26 TLDs, .com from $4.99/yr — -69% vs Namecheap renewal).
  contact:
    url: https://servghost.com/agents
  license:
    name: Proprietary
servers:
- url: https://servghost.com
tags:
- name: Quote
paths:
  /api/v1/quote:
    post:
      summary: Calculate final price (with discounts + extras)
      description: '`type` is one of `vps`, `dedicated`, `rdp`, `gpu`. RDP plans are only available in `netherlands`, `romania`, `moldova`, `russia`. GPU plans are only available in `iceland`, `netherlands`, `romania`, `moldova` (Russia excluded due to NVIDIA export controls). `billing` is the number of months billed (1, 3, 6 or 12).'
      requestBody:
        required: true
        content:
          application/json:
            example:
              type: rdp
              plan: NL-M
              location: netherlands
              billing: 3
              extra_ips: 0
      responses:
        '200':
          description: Quote
      tags:
      - Quote
      operationId: postApiV1Quote
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: AAAA-BBBB-CCCC-DDDD
x-mcp-server: https://servghost.com/mcp
x-discovery: https://servghost.com/.well-known/agent.json
x-payment-model: 'balance-only: POST /api/v1/topup (min $30, max $2000, with bonus tiers) → wait for confirmation → POST /api/v1/orders (balance-debit, server active immediately)'
x-dry-run:
  trigger: 'Header X-Dry-Run: 1 OR ?dry_run=1 OR body.dry_run=true'
  behavior: Synthetic response, no balance impact, no provisioning. Returned shape mirrors the real one with `dry_run:true` + a `note` field.
